<div class="row trip_content">
  <% @trips.each do |trip| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= trip.img%>" alt="kyoto">
        <div class="caption">
          <h3><%= trip.name%></h3>
          <p><%= trip.description%></p>
          <p><%=  link_to "看行程", trip, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
