%div{:id => 'post_content'}
  %h1.title
    = @post.title
  %p.date
    Submitted
    = @post.created_at.strftime("%B %d, %Y")
  %br
  %p.body
    .wmd-output
      :preserve
        #{sanitize(@post.body)}
  %hr
  .text-center
    = link_to '返回', posts_path, :class => 'btn btn-info'
