<%= link_to("新增行程", new_dashboard_trip_event_path(@trip), class: "btn btn-info") %>
<button href="#" class="button btn btn-warning"> 匯出pdf </button>
<hr>

<div id='calendar'>
</div>
<%= render '/common/fullcalendarAdmin' %>