<section class="global-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Blog With Nihongo</h2>
          <ol class="breadcrumb">
            <li>
              <a href="<%= root_path %>">
                <i class="ion-ios-home"></i>
                Home
              </a>
            </li>
            <li class="active">Blog</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>