<div class="sidebar">
  <div class="author widget">
    <img class="img-responsive" src="/assets/img/okinawa.jpg">
    <div class="author-body text-center">
      <div class="author-img">
        <%= image_tag("profile.jpg") %>
      </div>
      <div class="author-bio">
        <h3>PerryHaHa</h3>
        <p></p>
      </div>
    </div>
  </div>

  <!--<div class="categories widget">-->
    <!--<h3 class="widget-head">Categories</h3>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<a href="">Audio</a> <span class="badge">1</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="">Gallery</a> <span class="badge">2</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="">Image</a> <span class="badge">4</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="">Standard</a> <span class="badge">2</span>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="">Status</a> <span class="badge">3</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<div class="recent-post widget">-->
    <!--<h3>Recent Posts</h3>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<a href="#">Corporate meeting turns into a photoshooting.</a><br>-->
        <!--<time>16 May, 2015</time>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Statistics,analysis. The key to succes.</a><br>-->
        <!--<time>15 May, 2015</time>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Blog post without image, only text.</a><br>-->
        <!--<time>14 May, 2015</time>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Blog post with audio player. Share your creations.</a><br>-->
        <!--<time>14 May, 2015</time>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Blog post with classic Youtbube player.</a><br>-->
        <!--<time>12 May, 2015</time>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
</div>