<div class="sidebar">
  <div class="author widget">
    <img class="img-responsive" src="/assets/img/okinawa.jpg">
    <div class="author-body text-center">
      <div class="author-img">
        <%= image_tag("profile.PNG") %>
      </div>
      <div class="author-bio">
        <h3>PerryHaHa</h3>
        <p>分享學習日語的心得及日本旅遊的行程</p>
      </div>
    </div>
  </div>
  <div class="widget">
    <!-- <script class="text-center" type="text/javascript" src="//js1.bloggerads.net/ShowAds.aspx?blogid=20161114000006"></script> -->
  </div>
  <div class="categories widget">
    <h3 class="widget-head">文章類別</h3>
    <ul>
      <% Cate.all.each do |cate| %>
        <li>
          <%= link_to cate.name, posts_path(cate: cate.name) %> <span class="badge"><%= cate.posts.published.count %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
